<div class="catalogo">
  <h2>Catálogo de libros</h2>

  <div class="grid-cards">
    <app-card-book *ngFor="let book of books" [book]="book" (seleccionar)="showDetails($event)">
    </app-card-book>
  </div>
</div>

<!-- Modal para detalle -->
<div class="modal" *ngIf="selectedBook">
  <div class="modal-content">
    <span class="close" (click)="closeDetails()">×</span>

    <img [src]="selectedBook.cover" [alt]="selectedBook.title">
    <h3>{{ selectedBook.title }}</h3>
    <p class="author">Autor: {{ selectedBook.author }}</p>
    <p class="description">{{ selectedBook.description }}</p>
    <p class="price">${{ selectedBook.price }}</p>
  </div>
</div>
<br>
<button mat-flat-button color="primary" (click)="abrirModal()">
  Modal Tarea
</button>

