:host {
  display: block;
  height: 83vh;
  background-image: url('/assets/images/fondoLandingPage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.8); // ← oscurece la imagen
  color: white;
  text-align: center;
  padding-top: 5rem;
}

.cTitle {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cMensaje {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
